*{
    margin: 0;
    padding: 0;

}


.body2{
    background: url("imagenes/Fondo2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.agregados{
  margin-left: 70%;
}
#logo{
    width: 50%;
    height: 30%;

}
#hearth{
    width: 70px;
    height: 70px;
}
#login{
  width: 80px;
  height: 20px;
  background-color: skyblue;
}


#carrito{
    width: 70px;
    height: 70px;
}

#news{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  text-align:center;
  background-color: gray;
  margin-top: 10px;
}

/*MENU*/

.menu{
  background-color:salmon;
  opacity: 80%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

/*
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
$font: 'Varela Round', sans-serif
$color: (1: #ED4337, 2: #A1D3A2, 3: #50B8E7, 4: darken(#FFF53C, 15%))
$count: 4
}
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  display: flex;
  flex-direction: row;
  font-size: 22px;
}
li{
  position: relative;
  list-style-type: none;
  margin-right: 50px;
  cursor: pointer;
  color: black;
  &:last-child{
    margin-right: 0px;
  }
  &:after{
    content: ''
    position: absolute
    z-index: -1
    left: 50%
    transform: translateX(-50%) rotate(0deg)
  }
}
@for $z from 1 through $count
  li:nth-child(#{$z}):after
    background: map-get($color, $z)

li:nth-child(1):after{
  clip-path: polygon(6% 10%, 100% 0, 64% 65%, 28% 65%)
  height: 85px
  width: 75px
  bottom: -47px
  animation: stretch 2s ease infinite
  @keyframes stretch
    25%
      transform: translateX(-50%) rotate(2deg) scaleY(.93)
    50%
      transform: translateX(-50%) rotate(-2deg) scaleX(.93)
      clip-path: polygon(6% 20%, 100% 0, 64% 65%, 28% 65%)
    75%
      transform: translateX(-50%) rotate(3deg) scale(1.05)
}
li:nth-child(2):after{
  clip-path: polygon(61% 0%, 100% 19%, 71% 100%, 0% 100%)
  height: 55px
  width: 75px
  bottom: -18px
  animation: stretch2 1.5s ease infinite
  @keyframes stretch2
    25%
      transform: translateX(-50%) rotate(-2deg) scaleY(1.05)
    50%
      transform: translateX(-50%) rotate(2deg) scaleY(.93) scaleX(1.06)
      clip-path: polygon(61% 0%, 100% 19%, 71% 100%, 12% 100%)
    75%
      transform: translateX(-50%) rotate(3deg) scale(1.05)
      clip-path: polygon(61% 0%, 80% 19%, 71% 100%, 12% 100%)
}
li:nth-child(3):after{
  clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 0% 57%);
  height: 55px;
  width: 45px;
  bottom: -18px;
  animation: stretch3 2.0s ease infinite
  @keyframes stretch3
    25%
      transform: translateX(-50%) rotate(-2deg) scaleY(1.05)
    50%
      transform: translateX(-50%) rotate(2deg) scaleY(.93) scaleX(1.06)
      clip-path: polygon(10% 5%, 100% 0%, 100% 99%, 0% 57%)
    75%
      transform: translateX(-50%) rotate(3deg) scale(1.05)
      clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 10% 37%)
  }

li:nth-child(4):after{
  clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%);
  height: 55px;
  width: 45px;
  bottom: -18px;
  animation: stretch4 2.0s ease infinite;
  @keyframes stretch4{
    25%
      transform: translateX(-50%) rotate(-2deg) scaleY(1.05)
    50%
      transform: translateX(-50%) rotate(2deg) scaleY(.93) scaleX(1.06)
      clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%)
    75%
      transform: translateX(-50%) rotate(3deg) scaleY(1.05)
      clip-path: polygon(0% 40%, 100% 0%, 100% 99%, 19% 100%)
  }

li:hover:after{
  animation: boink 1s ease forwards 1;
  @keyframes boink: 80%;
      transform: scaleX(1.9) scaleY(.6) translateX(-30%);


@media (max-width: 600px){
li{font-size: 15px;}
}
*/






/*favoritos*/
#Favs{
  text-align: center;
  background-color: teal;
  margin-top: 5px;
  font-size: 25px;
}


li {
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 14px
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
}

ul li:hover ul {
    display: block;
}


/*ropa*/

.clothes{
    max-width: 500px;
    max-height: 200px;
    flex: auto;

    opacity: 90%;
    align-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;

  }

.ropa{
  position: relative;
  margin-left: 20%;
  margin-top: 3%;
}


.flechas{
  position: relative;
  left: -19%;
}
.flechas2{
  position: relative;
  right: -95%;
}

.infor{
  color:white;
  margin-left: 0%;
  margin-bottom: 5%;
  background-color: gray;
  text-align: center;
}

/*ABOUT US*/

.aboutUs{

  background-color: rgb(61, 151, 106);
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-right: auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
}


/*REDES SOCIALES*/

body {
  background-color: #151515;
}

.socials{
  margin-top: 10%;
}
#gmail{
    max-width: 100%;
    max-height: 150%;
}

.socialw {
  width: 235px;
  margin: 100px auto 0 auto;
  overflow: auto;
  height: 100%;
}

.social{
  position:relative;
  border: 1px solid #292929;
  width: 37px;
  height: 62px;
  float: left;
  margin-left: 10px;
  overflow: hidden;
}

.first {
  margin-left: 0px;
}

/*    ANIMATIONS   */

/* Fade In Down */
@-webkit-keyframes fadeInDown {
  0% {  opacity: 0;  -webkit-transform: translateY(-100px);  }
  100% {  opacity: 1;  -webkit-transform: translateY(0);  }
}

@-moz-keyframes fadeInDown {
  0% {  opacity: 0;  -moz-transform: translateY(-100px);  }
  100% {  opacity: 1;  -moz-transform: translateY(0);  }
}

@-o-keyframes fadeInDown {
  0% {  opacity: 0;  -o-transform: translateY(-100px);  }
  100% {  opacity: 1;  -o-transform: translateY(0);  }
}

@keyframes fadeInDown {
  0% {  opacity: 0;  transform: translateY(-100px); }
  100% {  opacity: 1;  transform: translateY(0);  }
}

.fadeInDown {
  -webkit-animation: fadeInDown 1s both 0.5s;
  -moz-animation: fadeInDown 1s both 0.5s;
  -o-animation: fadeInDown 1s both 0.5s;
  animation: fadeInDown 1s both 0.5s;
}
/* Fade In Down */

/* Social Transition */

.social img{
position:absolute;
left:0;
top:0;
-webkit-transition: margin-top 250ms ease-in;
-moz-transition: margin-top 250ms ease-in;
-o-transition:  margin-top 250ms ease-in;
transition:  margin-top 250ms ease-in;
}
.social:hover img{
margin-top:-62px;
}

/*LOGIN*/


@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(imagenes/Fondo2.jpg);
	background-size: cover;
	z-index: 0;

  -webkit-filter: blur(5px); /*LINEA QUE ME MARCA UN ERROR */
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}